* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}
.contact1 {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  min-height: 100vh;
  border: solid 1px #e8ebe4;
}
.c1 {
  height: 60px;
  border-radius: 40px;
  margin-top: 20px;
  padding: 10px;
}
#stats {
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #444749;
  display: flex;
  flex-direction: column;
}
#stats p {
  font-family: "Open Sans", sans-ser;
}
.icons {
  display: flex;
  align-items: center;
}
.icons :first-child {
  margin-right: 20px;
  margin-left: 20px;
}

.header-column {
  display: flex;
  justify-content: space-between;
}
.user {
  margin-right: 20px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  border: solid 1px #e8ebe4;
}
button {
  width: 150px;
  height: 40px;
  border-radius: 0.5px;
  background-color: #a491d2;
  color: #fff;
}
.contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.agents {
  display: flex;
  align-items: center;
  height: 40px;
  border: solid 1px #e8ebe4;
  padding: 2em;
}

.agents-profile {
  height: 70px;
  border-radius: 50%;
  padding-top: 10px;
}
.status {
  margin-left: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #444749;
}
.status p {
  font-family: "Open Sans", sans-ser;
  font-size: 13px;
}
main {
  border: solid 1px;
  background-color: #e8ebe4;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principal img {
  width: 400px;
  height: 400px;
}
.principal h1 {
  font-family: "Open Sans", sans-ser;
  font-size: 60px;
  font-weight: 30;
}
.principal p {
  font-family: "Open Sans", sans-ser;
  font-size: 20px;
}
.main-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
}
.main-text p {
  margin-top: 10px;
}
